<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" />
  <title>Post in deatail</title>
</head>

<body>
  <h2>Here is your post in detail</h2>
  <div class="post">
    <h3>id=<%= post.id %>
    </h3>
    <h3 class="user">
      post id: <%=post.username%>
    </h3>
    <h4 class="content">
      post content: <%=post.content %>
    </h4>
  </div>
</body>

</html>